.title {
  font: var(--font-l);
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);

  &.sizeM {
    font: var(--font-m);
  }

  &.sizeS {
    font: var(--font-s);
  }

  &.sizeL {
    font: var(--font-l);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}
