.ArticleDetails {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}
