.ArticleDetails {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.articleInfo {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 7px;

  .icon {
    color: var(--inverted-primary-color);
  }
}

.avatar {
  margin: 0 auto;
}

.avatarWrapper {
  align-self: center;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.block {
  margin-bottom: 39px;
}
