.ArticleDetails {
  position: relative;
}

.articleInfo {
  gap: 7px;
  margin-bottom: 7px;

  .icon {
    color: var(--inverted-primary-color);
  }
}

.avatar {
  object-fit: cover;
  align-self: center;
}

.title {
  margin-top: 20px;
}

.skeleton {
  align-self: flex-start;
  margin-top: 15px;
}

.block {
  margin-bottom: 39px;
}
