.Button {
  display: flex;
  cursor: pointer;
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  border: none;

  &:disabled {
    opacity: 0.7;
  }

  &:hover {
    filter: brightness(120%) contrast(200%) drop-shadow(1px 1px 1px rgba(var(--inverted-secondary-color-rgb), 0.8));
  }
}

.clear {
  border: none;
  background: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.outlineRed {
  border: 1px solid var(--red-light);
  color: var(--red-light);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}

.square.size_m,
.round.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l,
.round.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl,
.round.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font: var(--font-m);
  padding: 3px 5px;
}

.size_l {
  font: var(--font-l);
  padding: 6px 10px;
}

.size_xl {
  font: var(--font-xl);
  padding: 12px 20px;
}

.round {
  border-radius: 50%;
}
