.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.link-box {
  margin: 20px 0 0 30px;
  opacity: 1;
  flex-direction: column;
}

.switchers {
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: space-evenly;
  width: 100%;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}

.collapseBtn {
  svg:hover {
    filter: brightness(120%) contrast(200%) drop-shadow(1px 1px 1px rgba(var(--inverted-secondary-color-rgb), 0.8));
  }

  position: absolute;
  right: 0;
  bottom: 50%;
}
