.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
  transform: none;
}

.link-box {
  margin: 20px 0 0 30px;
}

.switchers {
  position: absolute;
  bottom: 20px;
}

.arrow {
  transition: 0.3s;
  width: 13px;
  height: 34px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  min-width: 80px;

  .switchers {
    flex-direction: column;
  }

  .arrow {
    transform: scale(-1, -1);
  }
}

.collapseBtn:not(:disabled) {
  color: var(--inverted-primary-color);

  &:hover {
    filter: initial;
  }

  svg:hover {
    filter: brightness(120%) contrast(200%) drop-shadow(1px 1px 1px rgba(var(--inverted-secondary-color-rgb), 0.8));
  }

  position: absolute;
  right: 0;
  bottom: 50%;
}
