.link {
  display: flex;
  align-items: center;
  height: 25px;
}

.link-text {
  text-transform: uppercase;
  padding-left: 30px;
  opacity: 1;
  transition: opacity 0.2s;
}

.collapsed.link-text {
  opacity: 0;
}

.icon {
  position: absolute;
}
