.SelectPageTypePreview {
  display: inline-flex;
  gap: 2px;
  padding: 10px;
}

.icon {
  width: 18px;
  height: 18px;
  color: var(--primary-color);
  opacity: 0.7;
  transition: 0.3s;

  &:hover,
  &.selected {
    opacity: 1;
  }
}
