.ArticlesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px 30px;
  margin: 0 auto;
  max-width: 1050px;
  min-width: 460px;
  backdrop-filter: brightness(113%) grayscale(0.5) invert(2%);
}

@media screen and (max-width: 590px) {
  .ArticlesPage {
    padding: 0 10px 10px;
  }

  .ArticlesList {
    justify-content: center;
  }
}
