.ArticlesPageContentSwitcher {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px 0 20px;
}

.viewSelect {
  padding: 10px 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

// работает от 105 версии хрома
// @container content-switcher (max-width: 550px) {
//  .viewSelect {
//    position: static;
//  }
// }

@media screen and (max-width: 695px) {
  .viewSelect {
    position: static;
    padding: 10px 0 0;
  }
}
