.Drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.35s;
  pointer-events: none;
  display: flex;
  align-items: flex-end;
  z-index: var(--modal-z-index);
}

.content {
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transform: translateY(100%);
  transition: transform 0.35s;
  overflow-y: auto;
  overflow-x: hidden;
}

.opened {
  pointer-events: auto;
  opacity: 1;

  .content {
    transform: translateY(0);
  }
}
