%custom-scroll-bar {
  cursor: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(var(--secondary-color-rgb), 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-color-rgb), 0.7);
    border: 1px solid rgba(var(--inverted-primary-color-rgb), 0.5);
    border-radius: 3px;

    &:hover {
      background-color: rgba(var(--primary-color-rgb), 0.9);
    }
  }
}

$positions: (
  bottom-left: (
    top: 100%,
    left: 0
  ),
  bottom-right: (
    top: 100%,
    right: 0
  ),
  top-left: (
    bottom: 100%,
    left: 0
  ),
  top-right: (
    bottom: 100%,
    right: 0
  )
);
