@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

.app_dark_theme {
  --bg-color: #0b0b58;
  --bg-color-rgb: #{hex-to-rgb(#0b0b58)};
  --inverted-bg-color: #b5bcc3;
  --inverted-bg-color-rgb: #{hex-to-rgb(#b5bcc3)};
  --primary-color: #18fe18;
  --secondary-color: #0de37ced;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0234d4;
  --primary-color-rgb: #{hex-to-rgb(#04ff04)};
  --secondary-color-rgb: #{hex-to-rgb(#0de37ced)};
  --inverted-primary-color-rgb: #{hex-to-rgb(#0452ff)};
  --inverted-secondary-color-rgb: #{hex-to-rgb(#0234d4)};
  --shadow: #000;
  --shadow-rgb: #{hex-to-rgb(#000)};

  // skeleton
  --skeleton-color: #4c62be;
  --skeleton-shadow: rgba(74, 99, 170, 70%);

  // code
  --code-bg: #1212a1;

  // card
  --card-bg: #272783;
  --card-bg-rgb: #{hex-to-rgb(#272783)};
}
