@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

.app_dark_theme {
  --bg-color: #090949;
  --inverted-bg-color: #eae8ea;
  --primary-color: #04ff04;
  --secondary-color: #02c002;
  --inverted-primary-color: #0452ff;
  --inverted-secondary-color: #0234d4;
  --primary-color-rgb: #{hex-to-rgb(#04ff04)};
  --secondary-color-rgb: #{hex-to-rgb(#02b902)};
  --inverted-primary-color-rgb: #{hex-to-rgb(#0452ff)};
  --inverted-secondary-color-rgb: #{hex-to-rgb(#0234d4)};
}
