@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

.app_purple_theme {
  --bg-color: #5b00c4;
  --inverted-bg-color: #ddd0fb;
  --primary-color: #e2b5ff;
  --secondary-color: #d191e3;
  --inverted-primary-color: #7051ff;
  --inverted-secondary-color: #654ae2;
  --primary-color-rgb: #{hex-to-rgb(#daa2ff)};
  --secondary-color-rgb: #{hex-to-rgb(#daa2ff)};
  --inverted-primary-color-rgb: #{hex-to-rgb(#7051ff)};
  --inverted-secondary-color-rgb: #{hex-to-rgb(#654ae2)};

  // skeleton
  --skeleton-color: #9847ff;
  --skeleton-shadow: rgba(42, 27, 102, 80%);

  // code
  --code-bg: #12128f;

  // card
  --card-bg: #7515ea;
}
