@function hex-to-rgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

.app_purple_theme {
  --bg-color: #5b00c4;
  --inverted-bg-color: #ddd0fb;
  --primary-color: #daa2ff;
  --secondary-color: #bf82cf;
  --inverted-primary-color: #5a37fe;
  --inverted-secondary-color: #1613b5;
  --primary-color-rgb: #{hex-to-rgb(#daa2ff)};
  --secondary-color-rgb: #{hex-to-rgb(#daa2ff)};
  --inverted-primary-color-rgb: #{hex-to-rgb(#2c00fc)};
  --inverted-secondary-color-rgb: #{hex-to-rgb(#0400bd)};

  // skeleton
  --skeleton-color: #3a0082;
  --skeleton-shadow: rgba(133, 108, 254, 80%);

  // code
  --code-bg: #12128f;
}
