.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 10px;
}

.btn {
  color: var(--inverted-primary-color);
}

.link {
  display: flex;
}

.createIcon {
  margin-left: auto;
  width: 28px;
  height: 20px;
}
