.ArticlesList {
  display: flex;
  gap: 30px;
  justify-content: center;

  &.plate {
    flex-flow: wrap;
  }

  &.list {
    flex-direction: column;
  }

  .error {
    position: absolute;
    top: 50%;
  }
}
