.CommentCard {
  border: var(--primary-color) solid 1px;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.text {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.isLoading {
  border: none;
}
